body{
    background-color: aqua;
    margin: 0 0 30px 0;
    padding: 30px;
}
h1,h2,p{
    text-align: center;
}
h1{
    font-family: cursive;
    font-size: 70px;
    margin-bottom: 0px;
}
h2{
    font-family:  serif;
    font-size: 30px;
    margin: 10px;
    margin-bottom: 30px;

}
#img-div{
    background-color: white;
    border-radius: 15px;
    margin: 40px auto 60px auto;
    width: 60%;
    height: 60%;
}
#image{
    text-align: center;
    display: inline;
    width: 100%;
    margin: 40px auto 60px auto;
}
#img-caption{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}
.bold{
    text-align: center;
    font-size: small;
}
p{
    font-size: 30px;
}
.line{
    text-decoration: none;
}